<app-layout>
  <div class="wrapper">

    <!-- landing left -->
    <div class="left-content" [ngClass]="{'show': toggle_state}">
      <div class="title">
        <h3 class="d-inline">DEV Community</h3>
        <button type="button" class="close" aria-label="Close" (click)="hideMenu()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="card p-3 mb-2">
        <h2 class="font-weight-bold mb-2"><a href="">DEV Community</a> is a community of 563,099 amazing developers</h2>
        <p class="mb-4">We're a place where coders share, stay up-to-date and grow their careers.</p>

        <button class="btn btn-btn-block btn-primary mb-2">Create Account</button>
        <button class="btn btn-btn-block btn-link">Login</button>
      </div>

      <ul class="nav flex-column">
        <li class="nav-item" *ngFor="let i of nav_items">
          <a class="nav-link active" [routerLink]="i.path">
            <i [ngClass]="i.icon"></i>
            {{ i.label }}
          </a>
      </ul>

      <div class="social-medias">
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-facebook-square"></i></a>
        <a href=""><i class="fab fa-github"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-twitch"></i></a>
      </div>

      <div class="popular-tags mt-3">
        <h5>Popular Tags</h5>
        <div class="tags" appTags *ngFor="let i of popular_tags">
          <a href="" class="">#{{i.label}}</a>
          <button class="btn btn-primary btn-sm sr-only">Follow</button>
        </div>
      </div>
    </div>
    <!-- end left -->
    
    <!-- landing content -->
    <div class="content">
      <div class="d-flex justify-content-between mb-2 sort-container">
        <h5>Post</h5>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="#">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Week</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Month</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Year</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Infinity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Latest</a>
          </li>
        </ul>

        <select name="" id="" class="form-control">
          <option value="">Feed</option>
          <option value="">Week</option>
          <option value="">Month</option>
          <option value="">Year</option>
          <option value="">Infinity</option>
          <option value="">Latest</option>
        </select>
      </div>

      <!-- display story card -->
      <app-story *ngFor="let i of stories" [story]="i"></app-story>
    </div>
    <!-- end landing content -->

    <!-- landing right -->
    <div class="right-content">
      <div class="card mb-2 event">
        <img src="../../../assets/img/event.png" alt="" class="img-fluid mb-2">
        <h2>Celebrating Black History Month!</h2>
        <p>
          For Black History Month, we're talking about the Black tech leaders who inspire you.
          <a href="">join the convo</a>
        </p>
      </div>

      <div class="card mb-3">
        <div class="header d-flex justify-content-between">
          <h3>Listing</h3>
          <a href="">Ses all</a>
        </div>
        <ul class="nav flex-column">
          <app-listing *ngFor="let i of topics" [topic]="i"></app-listing>
        </ul>
        <button class="btn btn-link btn-sm p-3" id="create-listing">Creaet a Listing</button>
      </div>
      
      <div class="card">
        <div class="header d-flex justify-content-between">
          <h3>#news</h3>
        </div>
        <ul class="nav flex-column">
          <app-news *ngFor="let i of stories" [news]="i"></app-news>
        </ul>
      </div>
    </div>
    <!-- end landing right -->

  </div>
</app-layout>