<div class="card story p-3 mb-2">
  <div class="avatar mb-2">
    <img [src]="story.img_url" alt="">
    <div class="info">
      <p class="username">{{ story.username }}</p>
      <p class="date-published">{{ story.date | date:'LLL dd' }}</p>
    </div>
  </div>

  <div class="indention">
    <h2 class="mb-2">{{ story.title }}</h2>

    <div class="tags-container mb-2">
      <a href="" *ngFor="let i of story.tags" class="tags">#{{i}}</a>
    </div>

    <div class="actions">
      <div class="details">
        <a href="" class="reactions" *ngIf="story.reactions">
          <i class="far fa-heart"></i>
          {{ story.reactions }}
          <span>reactions</span>
        </a>
        <a href="" class="comments" *ngIf="story.comments && story.comments.length > 0">
          <i class="far fa-comment"></i>
          {{ story.comments.length }}
          <span>comments</span>
        </a>
      </div>

      <div class="save">
        <span>1 min read</span>
        <button class="btn btn-secondary btn-sm">Save</button>
      </div>
    </div>
  </div>
</div>